*{
    margin: 0px;
    font-family:sans-serif ;
}
input{
    display: none;
}
#will{
    height: 20vh;
    margin-top: 5vh;
    text-align: center;

}

.flag {
    display: none;
    background-color: white;
}
.flag_label{
    float: left;
    border: 1px black solid;
    width:36.27vw;
    height: 3.73vh;
    margin-left: 9.87vw;
    margin-top: 1vh;
    border-radius: 1vh;
    font-size: 50px;
}
#loc{
    text-align: center;
    /*background-color: aqua;*/

    /*width: 100vw;*/
}
#map{
    background-image: url("../material/ditu.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin:auto ;
    width: 80vw;
    height: 16.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.gray_font{
    color:rgba(0,0,0,0.5);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loc_label{
    border: 1px black solid;
    width:25vw;
    height: 3.7vh;
    border-radius: 1vh;
    background-color: white;
}
#request{
    text-align: center;
    height: 5vh;
    margin-top: 10vh;
}
#request button{
    height: 4.5vh;
    width: 82vw;
    border-radius: 1vh;
    background-color: #FF8215;
    color:white;
    font-size:40px;
}

#foodCanvas{
    display:none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 40px;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: black;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;

}
#foodCanvas #food img{
    /*height: 30vh;*/
    height: 30vh;
    width: 90%;
    margin-top: 5vw;
    /*margin: 5vw;*/
}
.jiantou{
    display: block;
    margin: 0px;
    position: relative;
}
#save{
    border-radius: 1vh;
    margin-top: 20vh;
    font-size: 30px;
}

#food{
    background-color: azure;
    /*margin:5vw;*/
    height: 70vh;
    width: 80vw;
    /*width: 80vw;*/
    border-radius:2vh;
    border: 1vw #FF8115 solid;
}
h1{
    font-size: 60px;
    color: black;
}
.hide{
    display: none;
}
.choice button {
    width: 80vw;
    height: 6vh;
    font-size: 60px;
    /*background-color: aquamarine;*/
    border-radius: 2vh;
}
#save{
    width: 38.4vw;
    height: 4.5vh;
    border-radius: 1vh;
    background-color: orange;
    color: white;

}
#chatu_div{
    text-align: center;
    height: 30vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom:0px ;
}
#chatu_div img{
    /*width: 100%;*/
    height: 35vh;
    margin-bottom:0px ;

}
