input{
    display: none;
}
#will{
    height: 25vh;
    width:100%;
    margin: 0px;
    text-align: center;

}
*{
    color: orange;
}
.flag {
    display: none;
    background-color: white;
}
.flag_label{
    float: left;
    border: 1px black solid;
    width:40vw;
    height: 4vh;
    margin: 4vw;
    border-radius: 1vh;
    font-size: 50px;
}
#loc{
    text-align: center;
    height: 30vh;
}
#map{
    background-color: powderblue;
    margin:auto ;

    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loc_label{
    border: 1px black solid;
    width:25vw;
    height: 4vh;
    border-radius: 1vh;
    font-size: 50px;
}
#request{
    text-align: center;

}
#foodCanvas{
    display:none;
    position: absolute;
    left: 15vw;
    top: 15%;
    /*left: 50vw;*/
    /*height: 50vh;*/
    margin: auto;
    /*top: auto;*/
    font-size: 40px;
    z-index: 99;
    background-color: azure;
    text-align: center;
    color: black;
    width: 70vw;
    border:1px black solid;
}
#foodCanvas img{
    height: 30vh;
    width: 50vw;
}
h1{
    font-size: 60px;
}
#loc input{
    margin: 5vw;
}
.choice button {
    width: 80vw;
    height: 10vh;
    font-size: 60px;
    background-color: aquamarine;
}
